body {
  padding-top: 65px; /* Ajustado para altura da Navbar */
}

/* Css para o botão de fechar das modal */
.close-modal {
  position: absolute; 
  top: 5px; 
  right: 20px; 
  background: none; 
  border: none; 
  font-size: 30px; 
  color: #000; 
  cursor: pointer; 
  transition: color 0.3s; 
}

.close-modal:hover {
  color: #ff6b6b; 
}

/* Fim CSS de botão fechar para modal */

/* Hover oara botão de voltar */
.back-page:hover {
  color: #00c3ff; 
}

/* Para botões em circulo */
.circle{
  border-radius: 50%;
}